.home__wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.search__result__wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 75%;
}

.favorites__wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #546eef;
  max-width: 25%;
}
